<div class="row">
    <div class="col-12 col-lg-12">
        <div class="card flex-fill w-100">
            <div class="card-header">
                <h2 class="card-title">Son 10 Günde Gelen Mesajlar</h2>
            </div>
            <div class="card-body">
                <div class="chart">
                    <canvas id="chartjs-line"></canvas>
                </div>
            </div>
        </div>
    </div>

    @*<div class="col-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Bar Chart</h5>
                <h6 class="card-subtitle text-muted">A bar chart provides a way of showing data values represented as vertical bars.</h6>
            </div>
            <div class="card-body">
                <div class="chart">
                    <canvas id="chartjs-bar"></canvas>
                </div>
            </div>
        </div>
    </div>*@

    <div class="col-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Mesajların Okunma Durumu</h5>
            </div>
            <div class="card-body">
                <div class="chart chart-sm">
                    <canvas id="chartjs-doughnut"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Projelerin Kategorileri</h5>
            </div>
            <div class="card-body">
                <div class="chart chart-sm">
                    <canvas id="chartjs-pie"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
