<nav id="sidebar">
    <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(/Templates/devfolio-master/img/mete.jpg);"></a>
        <ul class="list-unstyled components mb-5">

            <li><a href="/Feature/FeatureList">Giriş Sayfası</a></li>
            <li><a href="/About/AboutList">Hakkında</a></li>
            <li><a href="/Project/Index/">Projeler</a></li>
            <li><a href="/Project/CreateProject/">Yeni Poje Girişi</a></li>
            <li><a href="/Service/ServiceList/">Hizmetler</a></li>
            <li><a href="/Skill/SkillList/">Yetenekler</a></li>
            <li><a href="/Statistic/Index/">İstatistikler</a></li>
            <li><a href="/Testimonial/TestimonialList">Referanslar</a></li>
            <li><a href="#">İletişim Bilgileri</a></li>
            <li><a href="/Contact/MessageList/">Gelen Mesajlar</a></li>
            @*<li><a href="#">Ayarlar</a></li>*@
            <li>
                <a href="#settingSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Ayarlar</a>
                <ul class="collapse list-unstyled" id="settingSubmenu">
                    <li><a href="#">Kullanıcılar</a></li>
                    <li><a href="#">Site Hakkında</a></li>
                </ul>
            </li>
            <li><a href="/Logout/Logout">Çıkış Yap</a></li>

        </ul>

        <div class="footer">
            <p>
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> 
                <br />
                Tüm Hakları Saklıdır
            </p>
        </div>
    </div>
</nav>
