@model DevFolio.Models.TblService
@{
    ViewBag.Title = "CreateService";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


@{
    var iconList = new List<SelectListItem>();

    iconList.Add(new SelectListItem { Text = "ion-ionic", Value = "ion-ionic" });
    iconList.Add(new SelectListItem { Text = "ion-arrow-up-a", Value = "ion-arrow-up-a" });
    iconList.Add(new SelectListItem { Text = "ion-arrow-right-a", Value = "ion-arrow-right-a" });
    iconList.Add(new SelectListItem { Text = "ion-arrow-down-a", Value = "ion-arrow-down-a" });
    iconList.Add(new SelectListItem { Text = "ion-arrow-left-a", Value = "ion-arrow-left-a" });
    iconList.Add(new SelectListItem { Text = "ion-arrow-up-b", Value = "ion-arrow-up-b" });
    iconList.Add(new SelectListItem { Text = "ion-arrow-right-b", Value = "ion-arrow-right-b" });
    iconList.Add(new SelectListItem { Text = "ion-arrow-down-b", Value = "ion-arrow-down-b" });
    iconList.Add(new SelectListItem { Text = "ion-arrow-left-b", Value = "ion-arrow-left-b" });
    iconList.Add(new SelectListItem { Text = "ion-arrow-up-c", Value = "ion-arrow-up-c" });
    iconList.Add(new SelectListItem { Text = "ion-arrow-right-c", Value = "ion-arrow-right-c" });
    iconList.Add(new SelectListItem { Text = "ion-arrow-down-c", Value = "ion-arrow-down-c" });
    iconList.Add(new SelectListItem { Text = "ion-arrow-left-c", Value = "ion-arrow-left-c" });
    iconList.Add(new SelectListItem { Text = "ion-arrow-return-right", Value = "ion-arrow-return-right" });
    iconList.Add(new SelectListItem { Text = "ion-arrow-return-left", Value = "ion-arrow-return-left" });
    iconList.Add(new SelectListItem { Text = "ion-arrow-swap", Value = "ion-arrow-swap" });
    iconList.Add(new SelectListItem { Text = "ion-arrow-shrink", Value = "ion-arrow-shrink" });
    iconList.Add(new SelectListItem { Text = "ion-arrow-expand", Value = "ion-arrow-expand" });
    iconList.Add(new SelectListItem { Text = "ion-arrow-move", Value = "ion-arrow-move" });
    iconList.Add(new SelectListItem { Text = "ion-arrow-resize", Value = "ion-arrow-resize" });
    iconList.Add(new SelectListItem { Text = "ion-chevron-up", Value = "ion-chevron-up" });
    iconList.Add(new SelectListItem { Text = "ion-chevron-right", Value = "ion-chevron-right" });
    iconList.Add(new SelectListItem { Text = "ion-chevron-down", Value = "ion-chevron-down" });
    iconList.Add(new SelectListItem { Text = "ion-chevron-left", Value = "ion-chevron-left" });
    iconList.Add(new SelectListItem { Text = "ion-navicon-round", Value = "ion-navicon-round" });
    iconList.Add(new SelectListItem { Text = "ion-navicon", Value = "ion-navicon" });
    iconList.Add(new SelectListItem { Text = "ion-drag", Value = "ion-drag" });
    iconList.Add(new SelectListItem { Text = "ion-log-in", Value = "ion-log-in" });
    iconList.Add(new SelectListItem { Text = "ion-log-out", Value = "ion-log-out" });
    iconList.Add(new SelectListItem { Text = "ion-checkmark-round", Value = "ion-checkmark-round" });
    iconList.Add(new SelectListItem { Text = "ion-checkmark", Value = "ion-checkmark" });
    iconList.Add(new SelectListItem { Text = "ion-checkmark-circled", Value = "ion-checkmark-circled" });
    iconList.Add(new SelectListItem { Text = "ion-close-round", Value = "ion-close-round" });
    iconList.Add(new SelectListItem { Text = "ion-close", Value = "ion-close" });
    iconList.Add(new SelectListItem { Text = "ion-close-circled", Value = "ion-close-circled" });
    iconList.Add(new SelectListItem { Text = "ion-plus-round", Value = "ion-plus-round" });
    iconList.Add(new SelectListItem { Text = "ion-plus", Value = "ion-plus" });
    iconList.Add(new SelectListItem { Text = "ion-plus-circled", Value = "ion-plus-circled" });
    iconList.Add(new SelectListItem { Text = "ion-minus-round", Value = "ion-minus-round" });
    iconList.Add(new SelectListItem { Text = "ion-minus", Value = "ion-minus" });
    iconList.Add(new SelectListItem { Text = "ion-minus-circled", Value = "ion-minus-circled" });
    iconList.Add(new SelectListItem { Text = "ion-information", Value = "ion-information" });
    iconList.Add(new SelectListItem { Text = "ion-information-circled", Value = "ion-information-circled" });
    iconList.Add(new SelectListItem { Text = "ion-help", Value = "ion-help" });
    iconList.Add(new SelectListItem { Text = "ion-help-circled", Value = "ion-help-circled" });
    iconList.Add(new SelectListItem { Text = "ion-backspace-outline", Value = "ion-backspace-outline" });
    iconList.Add(new SelectListItem { Text = "ion-backspace", Value = "ion-backspace" });
    iconList.Add(new SelectListItem { Text = "ion-help-buoy", Value = "ion-help-buoy" });
    iconList.Add(new SelectListItem { Text = "ion-asterisk", Value = "ion-asterisk" });
    iconList.Add(new SelectListItem { Text = "ion-alert", Value = "ion-alert" });
    iconList.Add(new SelectListItem { Text = "ion-alert-circled", Value = "ion-alert-circled" });
    iconList.Add(new SelectListItem { Text = "ion-refresh", Value = "ion-refresh" });
    iconList.Add(new SelectListItem { Text = "ion-loop", Value = "ion-loop" });
    iconList.Add(new SelectListItem { Text = "ion-shuffle", Value = "ion-shuffle" });
    iconList.Add(new SelectListItem { Text = "ion-home", Value = "ion-home" });
    iconList.Add(new SelectListItem { Text = "ion-search", Value = "ion-search" });
    iconList.Add(new SelectListItem { Text = "ion-flag", Value = "ion-flag" });
    iconList.Add(new SelectListItem { Text = "ion-star", Value = "ion-star" });
    iconList.Add(new SelectListItem { Text = "ion-heart", Value = "ion-heart" });
    iconList.Add(new SelectListItem { Text = "ion-heart-broken", Value = "ion-heart-broken" });
    iconList.Add(new SelectListItem { Text = "ion-gear-a", Value = "ion-gear-a" });
    iconList.Add(new SelectListItem { Text = "ion-gear-b", Value = "ion-gear-b" });
    iconList.Add(new SelectListItem { Text = "ion-toggle-filled", Value = "ion-toggle-filled" });
    iconList.Add(new SelectListItem { Text = "ion-toggle", Value = "ion-toggle" });
    iconList.Add(new SelectListItem { Text = "ion-settings", Value = "ion-settings" });
    iconList.Add(new SelectListItem { Text = "ion-wrench", Value = "ion-wrench" });
    iconList.Add(new SelectListItem { Text = "ion-hammer", Value = "ion-hammer" });
    iconList.Add(new SelectListItem { Text = "ion-edit", Value = "ion-edit" });
    iconList.Add(new SelectListItem { Text = "ion-trash-a", Value = "ion-trash-a" });
    iconList.Add(new SelectListItem { Text = "ion-trash-b", Value = "ion-trash-b" });
    iconList.Add(new SelectListItem { Text = "ion-document", Value = "ion-document" });
    iconList.Add(new SelectListItem { Text = "ion-document-text", Value = "ion-document-text" });
    iconList.Add(new SelectListItem { Text = "ion-clipboard", Value = "ion-clipboard" });
    iconList.Add(new SelectListItem { Text = "ion-scissors", Value = "ion-scissors" });
    iconList.Add(new SelectListItem { Text = "ion-funnel", Value = "ion-funnel" });
    iconList.Add(new SelectListItem { Text = "ion-bookmark", Value = "ion-bookmark" });
    iconList.Add(new SelectListItem { Text = "ion-email", Value = "ion-email" });
    iconList.Add(new SelectListItem { Text = "ion-email-unread", Value = "ion-email-unread" });
    iconList.Add(new SelectListItem { Text = "ion-folder", Value = "ion-folder" });
    iconList.Add(new SelectListItem { Text = "ion-filing", Value = "ion-filing" });
    iconList.Add(new SelectListItem { Text = "ion-archive", Value = "ion-archive" });
    iconList.Add(new SelectListItem { Text = "ion-reply", Value = "ion-reply" });
    iconList.Add(new SelectListItem { Text = "ion-reply-all", Value = "ion-reply-all" });
    iconList.Add(new SelectListItem { Text = "ion-forward", Value = "ion-forward" });
    iconList.Add(new SelectListItem { Text = "ion-share", Value = "ion-share" });
    iconList.Add(new SelectListItem { Text = "ion-paper-airplane", Value = "ion-paper-airplane" });
    iconList.Add(new SelectListItem { Text = "ion-link", Value = "ion-link" });
    iconList.Add(new SelectListItem { Text = "ion-paperclip", Value = "ion-paperclip" });
    iconList.Add(new SelectListItem { Text = "ion-compose", Value = "ion-compose" });
    iconList.Add(new SelectListItem { Text = "ion-briefcase", Value = "ion-briefcase" });
    iconList.Add(new SelectListItem { Text = "ion-medkit", Value = "ion-medkit" });
    iconList.Add(new SelectListItem { Text = "ion-at", Value = "ion-at" });
    iconList.Add(new SelectListItem { Text = "ion-pound", Value = "ion-pound" });
    iconList.Add(new SelectListItem { Text = "ion-quote", Value = "ion-quote" });
    iconList.Add(new SelectListItem { Text = "ion-cloud", Value = "ion-cloud" });
    iconList.Add(new SelectListItem { Text = "ion-upload", Value = "ion-upload" });
    iconList.Add(new SelectListItem { Text = "ion-more", Value = "ion-more" });
    iconList.Add(new SelectListItem { Text = "ion-grid", Value = "ion-grid" });
    iconList.Add(new SelectListItem { Text = "ion-calendar", Value = "ion-calendar" });
    iconList.Add(new SelectListItem { Text = "ion-clock", Value = "ion-clock" });
    iconList.Add(new SelectListItem { Text = "ion-compass", Value = "ion-compass" });
    iconList.Add(new SelectListItem { Text = "ion-pinpoint", Value = "ion-pinpoint" });
    iconList.Add(new SelectListItem { Text = "ion-pin", Value = "ion-pin" });
    iconList.Add(new SelectListItem { Text = "ion-navigate", Value = "ion-navigate" });
    iconList.Add(new SelectListItem { Text = "ion-location", Value = "ion-location" });
    iconList.Add(new SelectListItem { Text = "ion-map", Value = "ion-map" });
    iconList.Add(new SelectListItem { Text = "ion-lock-combination", Value = "ion-lock-combination" });
    iconList.Add(new SelectListItem { Text = "ion-locked", Value = "ion-locked" });
    iconList.Add(new SelectListItem { Text = "ion-unlocked", Value = "ion-unlocked" });
    iconList.Add(new SelectListItem { Text = "ion-key", Value = "ion-key" });
    iconList.Add(new SelectListItem { Text = "ion-arrow-graph-up-right", Value = "ion-arrow-graph-up-right" });
    iconList.Add(new SelectListItem { Text = "ion-arrow-graph-down-right", Value = "ion-arrow-graph-down-right" });
    iconList.Add(new SelectListItem { Text = "ion-arrow-graph-up-left", Value = "ion-arrow-graph-up-left" });
    iconList.Add(new SelectListItem { Text = "ion-arrow-graph-down-left", Value = "ion-arrow-graph-down-left" });
    iconList.Add(new SelectListItem { Text = "ion-stats-bars", Value = "ion-stats-bars" });
    iconList.Add(new SelectListItem { Text = "ion-connection-bars", Value = "ion-connection-bars" });
    iconList.Add(new SelectListItem { Text = "ion-pie-graph", Value = "ion-pie-graph" });
    iconList.Add(new SelectListItem { Text = "ion-chatbubble", Value = "ion-chatbubble" });
    iconList.Add(new SelectListItem { Text = "ion-chatbubble-working", Value = "ion-chatbubble-working" });
    iconList.Add(new SelectListItem { Text = "ion-chatbubbles", Value = "ion-chatbubbles" });
    iconList.Add(new SelectListItem { Text = "ion-chatbox", Value = "ion-chatbox" });
    iconList.Add(new SelectListItem { Text = "ion-chatbox-working", Value = "ion-chatbox-working" });
    iconList.Add(new SelectListItem { Text = "ion-chatboxes", Value = "ion-chatboxes" });
    iconList.Add(new SelectListItem { Text = "ion-person", Value = "ion-person" });
    iconList.Add(new SelectListItem { Text = "ion-person-add", Value = "ion-person-add" });
    iconList.Add(new SelectListItem { Text = "ion-person-stalker", Value = "ion-person-stalker" });
    iconList.Add(new SelectListItem { Text = "ion-woman", Value = "ion-woman" });
    iconList.Add(new SelectListItem { Text = "ion-man", Value = "ion-man" });
    iconList.Add(new SelectListItem { Text = "ion-female", Value = "ion-female" });
    iconList.Add(new SelectListItem { Text = "ion-male", Value = "ion-male" });
    iconList.Add(new SelectListItem { Text = "ion-transgender", Value = "ion-transgender" });
    iconList.Add(new SelectListItem { Text = "ion-fork", Value = "ion-fork" });
    iconList.Add(new SelectListItem { Text = "ion-knife", Value = "ion-knife" });
    iconList.Add(new SelectListItem { Text = "ion-spoon", Value = "ion-spoon" });
    iconList.Add(new SelectListItem { Text = "ion-soup-can-outline", Value = "ion-soup-can-outline" });
    iconList.Add(new SelectListItem { Text = "ion-soup-can", Value = "ion-soup-can" });
    iconList.Add(new SelectListItem { Text = "ion-beer", Value = "ion-beer" });
    iconList.Add(new SelectListItem { Text = "ion-wineglass", Value = "ion-wineglass" });
    iconList.Add(new SelectListItem { Text = "ion-coffee", Value = "ion-coffee" });
    iconList.Add(new SelectListItem { Text = "ion-icecream", Value = "ion-icecream" });
    iconList.Add(new SelectListItem { Text = "ion-pizza", Value = "ion-pizza" });
    iconList.Add(new SelectListItem { Text = "ion-power", Value = "ion-power" });
    iconList.Add(new SelectListItem { Text = "ion-mouse", Value = "ion-mouse" });
    iconList.Add(new SelectListItem { Text = "ion-battery-full", Value = "ion-battery-full" });
    iconList.Add(new SelectListItem { Text = "ion-battery-half", Value = "ion-battery-half" });
    iconList.Add(new SelectListItem { Text = "ion-battery-low", Value = "ion-battery-low" });
    iconList.Add(new SelectListItem { Text = "ion-battery-empty", Value = "ion-battery-empty" });
    iconList.Add(new SelectListItem { Text = "ion-battery-charging", Value = "ion-battery-charging" });
    iconList.Add(new SelectListItem { Text = "ion-wifi", Value = "ion-wifi" });
    iconList.Add(new SelectListItem { Text = "ion-bluetooth", Value = "ion-bluetooth" });
    iconList.Add(new SelectListItem { Text = "ion-calculator", Value = "ion-calculator" });
    iconList.Add(new SelectListItem { Text = "ion-camera", Value = "ion-camera" });
    iconList.Add(new SelectListItem { Text = "ion-eye", Value = "ion-eye" });
    iconList.Add(new SelectListItem { Text = "ion-eye-disabled", Value = "ion-eye-disabled" });
    iconList.Add(new SelectListItem { Text = "ion-flash", Value = "ion-flash" });
    iconList.Add(new SelectListItem { Text = "ion-flash-off", Value = "ion-flash-off" });
    iconList.Add(new SelectListItem { Text = "ion-qr-scanner", Value = "ion-qr-scanner" });
    iconList.Add(new SelectListItem { Text = "ion-image", Value = "ion-image" });
    iconList.Add(new SelectListItem { Text = "ion-images", Value = "ion-images" });
    iconList.Add(new SelectListItem { Text = "ion-wand", Value = "ion-wand" });
    iconList.Add(new SelectListItem { Text = "ion-contrast", Value = "ion-contrast" });
    iconList.Add(new SelectListItem { Text = "ion-aperture", Value = "ion-aperture" });
    iconList.Add(new SelectListItem { Text = "ion-crop", Value = "ion-crop" });
    iconList.Add(new SelectListItem { Text = "ion-easel", Value = "ion-easel" });
    iconList.Add(new SelectListItem { Text = "ion-paintbrush", Value = "ion-paintbrush" });
    iconList.Add(new SelectListItem { Text = "ion-paintbucket", Value = "ion-paintbucket" });
    iconList.Add(new SelectListItem { Text = "ion-monitor", Value = "ion-monitor" });
    iconList.Add(new SelectListItem { Text = "ion-laptop", Value = "ion-laptop" });
    iconList.Add(new SelectListItem { Text = "ion-ipad", Value = "ion-ipad" });
    iconList.Add(new SelectListItem { Text = "ion-iphone", Value = "ion-iphone" });
    iconList.Add(new SelectListItem { Text = "ion-ipod", Value = "ion-ipod" });
    iconList.Add(new SelectListItem { Text = "ion-printer", Value = "ion-printer" });
    iconList.Add(new SelectListItem { Text = "ion-usb", Value = "ion-usb" });
    iconList.Add(new SelectListItem { Text = "ion-outlet", Value = "ion-outlet" });
    iconList.Add(new SelectListItem { Text = "ion-bug", Value = "ion-bug" });
    iconList.Add(new SelectListItem { Text = "ion-code", Value = "ion-code" });
    iconList.Add(new SelectListItem { Text = "ion-code-working", Value = "ion-code-working" });
    iconList.Add(new SelectListItem { Text = "ion-code-download", Value = "ion-code-download" });
    iconList.Add(new SelectListItem { Text = "ion-fork-repo", Value = "ion-fork-repo" });
    iconList.Add(new SelectListItem { Text = "ion-network", Value = "ion-network" });
    iconList.Add(new SelectListItem { Text = "ion-pull-request", Value = "ion-pull-request" });
    iconList.Add(new SelectListItem { Text = "ion-merge", Value = "ion-merge" });
    iconList.Add(new SelectListItem { Text = "ion-xbox", Value = "ion-xbox" });
    iconList.Add(new SelectListItem { Text = "ion-playstation", Value = "ion-playstation" });
    iconList.Add(new SelectListItem { Text = "ion-steam", Value = "ion-steam" });
    iconList.Add(new SelectListItem { Text = "ion-closed-captioning", Value = "ion-closed-captioning" });
    iconList.Add(new SelectListItem { Text = "ion-videocamera", Value = "ion-videocamera" });
    iconList.Add(new SelectListItem { Text = "ion-film-marker", Value = "ion-film-marker" });
    iconList.Add(new SelectListItem { Text = "ion-disc", Value = "ion-disc" });
    iconList.Add(new SelectListItem { Text = "ion-headphone", Value = "ion-headphone" });
    iconList.Add(new SelectListItem { Text = "ion-music-note", Value = "ion-music-note" });
    iconList.Add(new SelectListItem { Text = "ion-radio-waves", Value = "ion-radio-waves" });
    iconList.Add(new SelectListItem { Text = "ion-speakerphone", Value = "ion-speakerphone" });
    iconList.Add(new SelectListItem { Text = "ion-mic-a", Value = "ion-mic-a" });
    iconList.Add(new SelectListItem { Text = "ion-mic-b", Value = "ion-mic-b" });
    iconList.Add(new SelectListItem { Text = "ion-mic-c", Value = "ion-mic-c" });
    iconList.Add(new SelectListItem { Text = "ion-volume-high", Value = "ion-volume-high" });
    iconList.Add(new SelectListItem { Text = "ion-volume-medium", Value = "ion-volume-medium" });
    iconList.Add(new SelectListItem { Text = "ion-volume-low", Value = "ion-volume-low" });
    iconList.Add(new SelectListItem { Text = "ion-volume-mute", Value = "ion-volume-mute" });
    iconList.Add(new SelectListItem { Text = "ion-levels", Value = "ion-levels" });
    iconList.Add(new SelectListItem { Text = "ion-play", Value = "ion-play" });
    iconList.Add(new SelectListItem { Text = "ion-pause", Value = "ion-pause" });
    iconList.Add(new SelectListItem { Text = "ion-stop", Value = "ion-stop" });
    iconList.Add(new SelectListItem { Text = "ion-record", Value = "ion-record" });
    iconList.Add(new SelectListItem { Text = "ion-skip-forward", Value = "ion-skip-forward" });
    iconList.Add(new SelectListItem { Text = "ion-skip-backward", Value = "ion-skip-backward" });
    iconList.Add(new SelectListItem { Text = "ion-eject", Value = "ion-eject" });
    iconList.Add(new SelectListItem { Text = "ion-bag", Value = "ion-bag" });
    iconList.Add(new SelectListItem { Text = "ion-card", Value = "ion-card" });
    iconList.Add(new SelectListItem { Text = "ion-cash", Value = "ion-cash" });
    iconList.Add(new SelectListItem { Text = "ion-pricetag", Value = "ion-pricetag" });
    iconList.Add(new SelectListItem { Text = "ion-pricetags", Value = "ion-pricetags" });
    iconList.Add(new SelectListItem { Text = "ion-thumbsup", Value = "ion-thumbsup" });
    iconList.Add(new SelectListItem { Text = "ion-thumbsdown", Value = "ion-thumbsdown" });
    iconList.Add(new SelectListItem { Text = "ion-happy-outline", Value = "ion-happy-outline" });
    iconList.Add(new SelectListItem { Text = "ion-happy", Value = "ion-happy" });
    iconList.Add(new SelectListItem { Text = "ion-sad-outline", Value = "ion-sad-outline" });
    iconList.Add(new SelectListItem { Text = "ion-sad", Value = "ion-sad" });
    iconList.Add(new SelectListItem { Text = "ion-bowtie", Value = "ion-bowtie" });
    iconList.Add(new SelectListItem { Text = "ion-tshirt-outline", Value = "ion-tshirt-outline" });
    iconList.Add(new SelectListItem { Text = "ion-tshirt", Value = "ion-tshirt" });
    iconList.Add(new SelectListItem { Text = "ion-trophy", Value = "ion-trophy" });
    iconList.Add(new SelectListItem { Text = "ion-podium", Value = "ion-podium" });
    iconList.Add(new SelectListItem { Text = "ion-ribbon-a", Value = "ion-ribbon-a" });
    iconList.Add(new SelectListItem { Text = "ion-ribbon-b", Value = "ion-ribbon-b" });
    iconList.Add(new SelectListItem { Text = "ion-university", Value = "ion-university" });
    iconList.Add(new SelectListItem { Text = "ion-magnet", Value = "ion-magnet" });
    iconList.Add(new SelectListItem { Text = "ion-beaker", Value = "ion-beaker" });
    iconList.Add(new SelectListItem { Text = "ion-erlenmeyer-flask", Value = "ion-erlenmeyer-flask" });
    iconList.Add(new SelectListItem { Text = "ion-egg", Value = "ion-egg" });
    iconList.Add(new SelectListItem { Text = "ion-earth", Value = "ion-earth" });
    iconList.Add(new SelectListItem { Text = "ion-planet", Value = "ion-planet" });
    iconList.Add(new SelectListItem { Text = "ion-lightbulb", Value = "ion-lightbulb" });
    iconList.Add(new SelectListItem { Text = "ion-cube", Value = "ion-cube" });
    iconList.Add(new SelectListItem { Text = "ion-leaf", Value = "ion-leaf" });
    iconList.Add(new SelectListItem { Text = "ion-waterdrop", Value = "ion-waterdrop" });
    iconList.Add(new SelectListItem { Text = "ion-flame", Value = "ion-flame" });
    iconList.Add(new SelectListItem { Text = "ion-fireball", Value = "ion-fireball" });
    iconList.Add(new SelectListItem { Text = "ion-bonfire", Value = "ion-bonfire" });
    iconList.Add(new SelectListItem { Text = "ion-umbrella", Value = "ion-umbrella" });
    iconList.Add(new SelectListItem { Text = "ion-nuclear", Value = "ion-nuclear" });
    iconList.Add(new SelectListItem { Text = "ion-no-smoking", Value = "ion-no-smoking" });
    iconList.Add(new SelectListItem { Text = "ion-thermometer", Value = "ion-thermometer" });
    iconList.Add(new SelectListItem { Text = "ion-speedometer", Value = "ion-speedometer" });
    iconList.Add(new SelectListItem { Text = "ion-model-s", Value = "ion-model-s" });
    iconList.Add(new SelectListItem { Text = "ion-plane", Value = "ion-plane" });
    iconList.Add(new SelectListItem { Text = "ion-jet", Value = "ion-jet" });
    iconList.Add(new SelectListItem { Text = "ion-load-a", Value = "ion-load-a" });
    iconList.Add(new SelectListItem { Text = "ion-load-b", Value = "ion-load-b" });
    iconList.Add(new SelectListItem { Text = "ion-load-c", Value = "ion-load-c" });
    iconList.Add(new SelectListItem { Text = "ion-load-d", Value = "ion-load-d" });


}
<h2>Hizmet Ekleme</h2>

@using (Html.BeginForm("CreateService", "Service", FormMethod.Post))
{
    <label>Hizmet Adı</label>
    @Html.TextBoxFor(Model => Model.ServiceTitle, new { @class = "form form-control" })
    <br />
    <label>Hizmet Açıklaması</label>
    @Html.TextBoxFor(Model => Model.Description, new { @class = "form form-control" })
    <br />
    <label>Hizmet Görseli</label>
    @Html.DropDownListFor(model => model.ServiceImgUrl, iconList, "İkon Seçiniz", new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Ekle</button>
}