@model DevFolio.Models.TblFeature
@{
    ViewBag.Title = "UpdateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Giriş Sayfası Güncelleme</h2>

<form method="post">
    @Html.HiddenFor(Model=>Model.FeatureID);
    <label>Başlık</label>
    @Html.TextBoxFor(Model => Model.HeaderTitle, new { @class = "form-control" })
    <br/>
    <label>Özellikler</label>
    @Html.TextBoxFor(Model => Model.HeaderDescription, new { @class = "form-control" })
    <br/>
    <button class="btn btn-primary">Güncelle</button>
</form>

