@model DevFolio.Models.TblTestimonial
@{
    ViewBag.Title = "CreateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Referans Oluşturma</h2>

<form method="post" enctype="multipart/form-data">
    <label>Referans Adı</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
    <br />
    <div class="mb-3">
        <label>Resim</label>
        <input class="form-control" type="file" name="file" id="formFileMultiple">
    </div>
    <br />
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>

