
@{
    ViewBag.Title = "CreateAdmin";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Kullanıcı Oluştur</h2>

<form method="post">

    <label>Kullanıcı Adı </label>
    <input type="text" class="form-control" name="Username" />

    <label>Şifre</label>
    <input type="text" class="form-control" name="Password" maxlength="20"></input>
    <br />
    <button class="btn btn-info">Kullanıcıyı Kaydet</button>
</form>
